.formDiv {
  position: absolute;
  top: 0px;
  background-image: url(../../../public/taskalwaaxnin.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
}

.loginDiv {
  width: 100%;
  min-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.logInForm {
  background-color: white;
  width: 400px;
  text-align: center;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.logInForm label {
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.logInForm input[type="text"],
.logInForm input[type="password"] {
  display: block;
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: #f5f8fa;
  font-size: 16px;
}

.logInForm input[type="submit"] {
  display: block;
  width: 100%;
  background-color: #1da1f2;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.logInForm input[type="submit"]:hover {
  background-color: #0d8bf0;
}
